<html>
    <head>
        <style>
            .centered {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .higher {
                top: 35%;
            }
            .lower {
                top: 70%
            }
        </style>

        <title>
            parfait: все рецепты в одном месте!
        </title>
    </head>

    <body style="background-color: #F6F6F6;">
        {% load static %}
        <a href="http://localhost:8000"><img id="id_logo" src='{% static "parfait_base/imgs/logo.png" %}' width=130px height=175px class="higher centered" alt="parfait logo"></a>
        <form method="POST">
            <input name="search_bar" id="id_new_search" class="centered" placeholder="Введите название блюда...">
            {% csrf_token %}
        </form>
        <table id="id_queries_table" class="lower centered">
            {% for query in ten %}
            <tr><td>{{ query }}</td></tr>
            {% endfor %}
        </table>
    </body>
</html>